<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="parkMasterD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="parkMasterD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <parkMasterD.Properties.Settings>
            <setting name="IsUserLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDeviceCreated" serializeAs="String">
                <value>False</value>
            </setting>
        </parkMasterD.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <parkMasterD.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:50866</value>
            </setting>
        </parkMasterD.Properties.Settings>
    </applicationSettings>
</configuration>